@import "partials/bootstrap";
@import "partials/pace";
@import "partials/fonts";
.under {
    font-family: Quicksand;
    font-size: 1.1rem;
    .intro-bg {
        box-shadow: 200px 0 0 0 rgba(0,0,0,1);
        display: table;
        position: relative;
        .data-content {
            min-height: 95vh;
            width: 100%;
            text-align: center;
            padding-top: 8vh;
            h1 {
                padding: 2rem 1rem;
            }
            h3 {
                padding: 2rem 0;
                color: $brand-1;
                font-size: 1.6 rem;
            }
            p{
                margin-bottom:5rem;
                color:$gray-600;
            }
        }

        .logo-contacto img
        {
            max-width: 80px;
            @media (min-width:640px)
            {
                display: none;
            }
        }

        .footer {
            @extend .col;
            @extend .text-center;
            font-family: sans-serif;
            font-weight: 100;
            color: $gray-300;
            padding: 10px 10px;
            background-color: $brand-1;
            .copyright {
                font-size: small;
            }
        }
    }
}