//make-col-offset
.grid {    
    @extend .col;
    margin: 0 auto !important;
    @include media-breakpoint-down(xs) {
        @include make-col(12);
    }        
    @include media-breakpoint-up(xs) {
        @include make-col(11);
    }
    @include media-breakpoint-up(lg) {
        @include make-col(8);
    }
    @include media-breakpoint-up(xl) {
        @include make-col(6);
    }
    padding: 0 0 3rem !important;
    .grid-item {
        @extend .text-center;
        overflow: hidden;
        padding: 5px;
        width: 100%;
        @include media-breakpoint-down(xs) {
            @include make-col(12);
        }        
        @include media-breakpoint-up(xs) {
            @include make-col(6);
            padding: 0 .5rem;
        }
        @include media-breakpoint-up(lg) {
            @include make-col(6);
            padding: 0 1.5rem;
        }
        @include media-breakpoint-up(xl) {
            @include make-col(6);
            padding: 0 2rem;
        }
        picture {
            display: block;
            border: 1px solid;
            img {
                @include img-fluid;
            }
        }
        .body {
            padding: .25rem 0 2rem;
            h5 {
                padding: .4rem 0 0;
                small {
                    display: block;
                    padding: .5rem 0;
                    line-height: 1.2;
                    font-style: italic;
                }
            }
            p {
                margin: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }
        .ficha {
            .title {
                @extend h4;
                display: block;
            }
        }
        &.double {
            @include make-col(4);
        }
    }
}

.grid-row {
    @extend .row;
    padding: 0;
    margin: 0;
/*    .grid-span-1of2 {
        @include make-col(6);
        padding: .5rem;
        @include media-breakpoint-down(xs) {
            @include make-col(12);
        }
        picture {
            margin-bottom: 1rem;
            display: block;
            border: 1px solid;
        }
    }
    .grid-span-1of4 {
        @include make-col(3);
        padding: 0 .5rem;
    }
*/
    @media screen and (max-width: 36rem) {
        .custom-column-collapse .custom-column-collapse-img, .custom-column-collapse .custom-column-collapse-text {
            width: 100%;
            max-width: 100%;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }
    }
    @media screen and (max-width: 36rem) {
        .custom-column-collapse .custom-column-collapse-bottom {
            margin-top: 20px;
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
        }
        .custom-column-collapse .custom-column-collapse-img {
            -webkit-flex-basis: 52%;
            -ms-flex-preferred-size: 52%;
            flex-basis: 52%;
            max-width: 52%;
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
        }
    }
    @include media-breakpoint-down(xs) {
        [class*=grid-cols-] {
            max-width: 100%;
            padding: 1rem;
            ul {
                margin: 0 -2rem;
                .custom-column-collapse-img {
                    -webkit-flex-basis: 52%;
                    -ms-flex-preferred-size: 52%;
                    flex-basis: 52%;
                    max-width: 52%;
                    -webkit-order: 0;
                    -ms-flex-order: 0;
                    order: 0;
                }
                .custom-column-collapse .custom-column-collapse-img-wr {
                    -webkit-align-items: flex-start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-justify-content: flex-start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    position: relative;
                }
            }
        }
    }
}
