section {
  clear: both;
  max-width: 100vw;

  .intro {
    padding: 4rem 0;
  }
}

.section,
.content {
  padding: 4rem 0;
  clear: both;
  max-width: 100vw;

  &.intro {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.page-header {
  padding: 4rem 0 2rem;
  clear: both;
  max-width: 100vw;

  h1,
  h2,
  h3 {
    width: 100%;
    text-align: center;
  }
}

main {
  .nav-up {
    .page-header {
      padding-top: 3rem;
    }
  }
}

.container,
.conceptshot {
  padding: 2rem 1rem;
  margin: 0 auto;
}

.container {
  @extend .col;
  margin: 0 auto;

  @include media-breakpoint-up(xl) {
    @include make-col(12);
  }

  max-width: 1440px !important;
}

.content {
  @extend .col;
  text-align: justify;

  @include media-breakpoint-down(xs) {
    @include make-col(12);
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }

  @include media-breakpoint-up(sm) {
    @include make-col(10);
    @include make-col-offset(1);
  }

  @include media-breakpoint-up(md) {
    @include make-col(8);
    @include make-col-offset(2);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(8);
    @include make-col-offset(2);
  }

  @include media-breakpoint-up(xl) {
    @include make-col(6);
    @include make-col-offset(3);
  }

  h1,
  h2,
  h3 {
    width: 100%;
    text-align: center;
  }

  .data {
    @extend .row;
    margin: 0;

    .parag {
      @include media-breakpoint-down(sm) {
        @include make-col(12);
        margin: 0 auto;
        padding: .5rem 0;
      }

      @include media-breakpoint-up(sm) {
        @include make-col(6);
        padding: 0 .5rem 1rem;
      }
    }
  }
}

blockquote {
  @extend .col;

  @include media-breakpoint-down(xs) {
    @include make-col(9);
    @include make-col-offset(1);
  }

  @include media-breakpoint-up(xs) {
    @include make-col(9);
    @include make-col-offset(2);
  }

  @include media-breakpoint-up(md) {
    @include make-col(9);
    @include make-col-offset(2);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(7);
    @include make-col-offset(3);
  }

  @include media-breakpoint-up(xl) {
    @include make-col(5);
    @include make-col-offset(4);
  }
}

.intro {
  @extend .col;

  @include media-breakpoint-down(sm) {
    @include make-col(12);
    padding: 1rem;
  }

  @include media-breakpoint-up(md) {
    @include make-col(10);
    @include make-col-offset(1);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(8);
    @include make-col-offset(2);
  }

  @include media-breakpoint-up(xl) {
    @include make-col(6);
    @include make-col-offset(3);
  }

  padding: 1rem 0;
  text-align: center;

  h1,
  h2,
  h3 {
    width: 100%;
    text-align: center;
  }

  >p {
    padding: 0 0 1rem;
    margin: 0 auto;
  }
}

.pill {
  @extend .col;

  >h1,
  >h2,
  >h3 {
    text-align: center;
    width: 100%;
  }

  min-height: 350px;

  img.img-fluid {
    max-width: 100px;
    margin-bottom: 1.5rem;
  }

  .btn-more {
    margin-top: 2rem;
  }

  @include media-breakpoint-down(xs) {
    padding: .5rem 1rem;
    @include make-col(12);
  }

  @include media-breakpoint-up(sm) {
    @include make-col(4);
    padding: 1rem 0 3rem;
  }

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }

  @include media-breakpoint-up(xl) {
    padding: 1rem 2rem;
  }
  .icon {
    border: 1px solid;
    border-radius: 5rem;
    display: block;
    height: 50px;
    margin: 0 0.5rem 0 0;
    float: left;
    padding: 0.5rem;
    width: 50px;
  }
}

.conceptshot {
  @extend .row;
  @extend .col;
  padding: 0;

  blockquote {
    @extend .col;
    padding: 0;

    @include media-breakpoint-down(xs) {
      @include make-col(12);
      padding: 0;
      order: 0;
      max-width: 100% !important;
      min-height: 60vw;
    }

    @include media-breakpoint-up(sm) {
      @include make-col(4);
      padding: 0;
      float: left;
      text-align: left;
      padding: 1rem;
    }
    
    @include media-breakpoint-up(md) {
      @include make-col(8);
      float: right;
      text-align: right;
      padding: 0 2rem 0 0;
    }
  }
  .image {
    @extend .col;
    padding: 0;

    picture {
      margin: 0 auto;
      text-align: center;
      display: block;
    }
    .background {
      background-position: center;
      background-size: cover;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      @include media-breakpoint-down(xs) {
        @include make-col(12);
        height: 60vw;
      }
    }

    @include media-breakpoint-down(xs) {
      @include make-col(12);
      padding: 0;
      order: 0;
      max-width: 100% !important;
      min-height: 60vw;
    }

    @include media-breakpoint-up(sm) {
      @include make-col(4);
      padding: 0;
      float: left;
    }

    @include media-breakpoint-up(md) {
      @include make-col(6);
      height: 25rem;
      display: table;
      max-height: 80vh;
    }
  }

  .data {
    @include media-breakpoint-down(xs) {
      @include make-col(12);
      padding: 1rem 1rem 3rem;
      order: 1;
      
      .label {
        text-align: center;
        h1,
        h2,
        h3 {
          text-align: center;
          width: 100%;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      @include make-col(8);
      display: table;
      float: left;
      padding: 0;
      text-align: left;
      .label {
        display: table-cell;
        vertical-align: top;
        padding: 2rem 1rem;
        float: left;
        @include make-col(10);
        @include media-breakpoint-up(md) {
          @include make-col(10);
        }
        @include media-breakpoint-up(md) {
          h1,
          h2,
          h3,
          p {
            text-align: left;
            width: 100%;
            align-self: center !important;
          }
          h1, h2, .h3 {
            small {
              display: block;
              text-rendering: geometricPrecision;
            }
          }
        }
        @include media-breakpoint-up(lg) {
          @include make-col(8);
        }
        @include media-breakpoint-up(xl) {
          @include make-col(6);
        }
      }
    }
    
    @include media-breakpoint-up(md) {
      @include make-col(6);
      height: 25rem;
      display: table;
      max-height: 80vh;
    }
  }
  &:nth-child(2n) {
    .data {
      @include media-breakpoint-up(sm) {
        background-color: lightgray;
      }
      @include media-breakpoint-up(md) {
        background-color: transparent;
      }
      .label {
        float: right;
      }
    }
  }
}

.content .conceptshot {
  @include media-breakpoint-down(sm) {
    @include make-col(12);
    h1,
    h2,
    h3 {
      text-align: center;
      width: 100%;
    }
    .image {
      order: 0;
      max-width: 280px !important;
      margin: 0 auto 1rem;
    }
    
    .data {
      padding: 0;
      order: 1;
      text-align: center;
      width: 100%;
      .btn-more {
        margin: 0 auto;
      }
    }

    .btn-next {
      order: 2;
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 1rem 0;

    .data {
      padding: 0 0 0 1rem;

      h1,
      h2,
      h3 {
        text-align: left;
        width: 100%;
      }
    }
  }

  .image {
    @extend .col;
    padding: 0 .5rem .5rem 0;

    picture {
      margin: 0 auto;
      text-align: center;
      display: block;
    }

    @include media-breakpoint-down(xs) {
      @include make-col(12);
    }

    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }

    @include media-breakpoint-up(md) {
      @include make-col(5);
      height: auto;
      display: table;
    }

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  .data {
    @extend .col;
    text-align: left;
    padding: 0 0 .5rem .5rem;

    @include media-breakpoint-down(xs) {
      @include make-col(12);
      text-align: center;

      h2 {
        text-align: center;
      }
    }

    @include media-breakpoint-up(sm) {
      @include make-col(8);
    }

    @include media-breakpoint-up(md) {
      @include make-col(7);
      height: auto;
      display: table;
    }

    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }

    @include media-breakpoint-up(xl) {
      @include make-col(8);
    }

    align-self: center !important;

    h3 {
      small {
        display: block;
        text-rendering: geometricPrecision;
      }
    }
  }
  &:nth-child(2n) {
    .data {
      @include media-breakpoint-up(sm) {
        background-color: transparent;
      }
    }
  }
}

/*
.content .conceptshot {
  @extend .row;
  @extend .col;

  @include media-breakpoint-down(xs) {
    padding: .5rem 1rem;
    @include make-col(12);

    >h1,
    >h2,
    >h3 {
      text-align: center;
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem;

    .image {
      order: 0;
      max-width: 280px !important;
      margin: 0 auto 1rem;
    }

    .data {
      padding: 0;
      order: 1;
    }

    .btn-next {
      order: 2;
    }
  }

  @include media-breakpoint-up(sm) {
    @include make-col(10);
    @include make-col-offset(1);
    padding: 1rem 0;
    h1, h2, h3 {
      text-align: left;
      width: 100%;
    }
    .data {
      padding: 0 0 0 1rem;
    }
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
    @include make-col-offset(2);
  }
  @include media-breakpoint-up(xl) {
    @include make-col(6);
    @include make-col-offset(3);
  }
  .image {
    @extend .col;
    padding: 0 .5rem .5rem 0;
    picture {
      margin: 0 auto;
      text-align: center;
      display: block;
    }
    @include media-breakpoint-down(xs) {
      @include make-col(12);
    }

    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }

    @include media-breakpoint-up(md) {
      @include make-col(5);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  .data {
    @extend .col;
    text-align: left;
    padding: 0 0 .5rem .5rem;

    @include media-breakpoint-down(xs) {
      @include make-col(12);
      text-align: center;

      h2 {
        text-align: center;
      }
    }

    @include media-breakpoint-up(sm) {
      @include make-col(8);
    }

    @include media-breakpoint-up(md) {
      @include make-col(7);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }

    @include media-breakpoint-up(xl) {
      @include make-col(8);
    }

    align-self: center !important;

    h3 {
      small {
        display: block;
        text-rendering: geometricPrecision;
      }
    }
  }
}*/

.table-striped {
  margin-bottom: 2rem;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.grid-item {

  >h1,
  >h2,
  >h3 {
    text-align: center;
    width: 100%;
  }
}

.category-list {
  .form-inline {
    @extend .col;
    .categorylist_header_title a {
      @extend .h3;
    }
    table.category.table.table-striped.table-bordered.table-hover.table-noheader {
      width: 100%;
      text-align: center;
      td.list-title {
        padding: 1rem 0;
        border-bottom: 1px solid lightgray;
      }
    }
  }
}

.searchForm,
.search-results {
  @extend .content;

  .item-results {
    clear: both;
    padding-bottom: 2rem;
  }

  .result-created {
    font-style: italic;
    font-size: small;
    text-align: right;
    color: gray;
  }

  .result-category {
    float: left;
    font-size: small;
  }
}

.updates {
  &:after {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 5em;
    margin: 0 auto 2rem;
  }

  .items-leading,
  .items-row {
    @extend .container-fluid;
    padding-bottom: 2rem;
    max-width: 1380px;

    .item {
      @extend .row;
      @extend .align-items-start;
    }

    .article-info {
      @extend .col;

      @include media-breakpoint-down(xs) {
        @include make-col(12);
        text-align: center;
      }

      @include media-breakpoint-up(sm) {
        @include make-col(3);
      }

      @include media-breakpoint-up(lg) {
        @include make-col(2);
      }

      .create {
        @extend .grad-gray;
        @extend .col;
        height: 6rem;
        width: 6rem;
        display: table;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 5em;
        text-align: center;
      }
    }

    .calendar-item {
      @include media-breakpoint-down(xs) {
        @include make-col(12);
      }

      @include media-breakpoint-up(sm) {
        @include make-col(9);
      }

      @include media-breakpoint-up(lg) {
        @include make-col(10);
      }

      h3 {
        padding: 2rem 0;
        @extend h2;
      }

      .feature-group {
        @extend .row;
        margin: 0;

        @include media-breakpoint-down(xs) {
          @include make-col(12);
          max-width: 100%;
        }

        .feature-item {
          padding: 0 .5rem .5rem;

          @include media-breakpoint-down(xs) {
            @include make-col(12);
          }

          @include media-breakpoint-up(sm) {
            @include make-col(6);
          }

          @include media-breakpoint-up(xl) {
            @include make-col(3);
          }
        }
      }
    }
  }
}
