@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i|Titillium+Web:200,400,400i,700');



@font-face {
  font-family: 'Apex New';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/ApexNew-Thin/apexnew-thin-webfont.eot'), url('../fonts/ApexNew-Thin/apexnew-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ApexNew-Thin/apexnew-thin-webfont.woff2') format('woff2'), url('../fonts/ApexNew-Thin/apexnew-thin-webfont.woff') format('woff'), url('../fonts/ApexNew-Thin/apexnew-thin-webfont.ttf') format('truetype');
}
/*
@font-face {
    font-family: 'Apex New';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ApexNew-Light/apexnew-light-webfont.eot'), url('../fonts/ApexNew-Light/apexnew-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ApexNew-Light/apexnew-light-webfont.woff2') format('woff2'), url('../fonts/ApexNew-Light/apexnew-light-webfont.woff') format('woff'), url('../fonts/ApexNew-Light/apexnew-light-webfont.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Apex New';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/ApexNew-LightIt/apexnew-lightitalic-webfont.eot'), url('../fonts/ApexNew-LightIt/apexnew-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ApexNew-LightIt/apexnew-lightitalic-webfont.woff2') format('woff2'), url('../fonts/ApexNew-LightIt/apexnew-lightitalic-webfont.woff') format('woff'), url('../fonts/ApexNew-LightIt/apexnew-lightitalic-webfont.ttf') format('truetype');
  }
  */
@font-face {
  font-family: 'Apex New'; 
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ApexNew-Book/apexnew-book-webfont.eot'), url('../fonts/ApexNew-Book/apexnew-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ApexNew-Book/apexnew-book-webfont.woff2') format('woff2'), url('../fonts/ApexNew-Book/apexnew-book-webfont.woff') format('woff'), url('../fonts/ApexNew-Book/apexnew-book-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Apex New';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/ApexNew-BookIt/apexnew-bookitalic-webfont.eot'), url('../fonts/ApexNew-BookIt/apexnew-bookitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ApexNew-BookIt/apexnew-bookitalic-webfont.woff2') format('woff2'), url('../fonts/ApexNew-BookIt/apexnew-bookitalic-webfont.woff') format('woff'), url('../fonts/ApexNew-BookIt/apexnew-bookitalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Apex New';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/ApexNew-Medium/apexnew-medium-webfont.eot'), url('../fonts/ApexNew-Medium/apexnew-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ApexNew-Medium/apexnew-medium-webfont.woff2') format('woff2'), url('../fonts/ApexNew-Medium/apexnew-medium-webfont.woff') format('woff'), url('../fonts/ApexNew-Medium/apexnew-medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'icon-Regular';
  src: url('../fonts/icons/icon-Regular.eot'), url('../fonts/icons/icon-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/icons/icon-Regular.woff2') format('woff2'), url('../fonts/icons/icon-Regular.woff') format('woff'), url('../fonts/icons/icon-Regular.ttf') format('truetype');
}

[class^='icon-'],
[class^=' icon-'],
i,
.icon {
  display: inline-block;
  font-family: 'icon-Regular' !important;
  font-size: inherit;
  font-style: normal !important;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */

.icon-lg {
  font-size: 1em;
  line-height: 0.8em;
  vertical-align: -15%;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-fw {
  width: 1.28571429em;
  text-align: center;
}

.icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.icon-ul>li {
  position: relative;
}

.icon-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.icon-li.icon-lg {
  left: -1.85714286em;
}

.icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

.icon-phone:before {
  content: '\ea88';
}

.icon-fax:before {
  content: '\ea88';
}

// ICONOS
.icon-cliente:before {
  content: '\ea94';
}

.icon-cliente-ico:before {
  content: '\ea95';
}

.icon-develop:before {
  content: '\ea96';
}

.icon-house:before {
  content: '\2302';
}

.icon-heart:before {
  content: '\f121';
}

.icon-heart:after {
  content: '\f122';
}

// redes sociales
.icon-search:before {
  content: '\f002';
}

.icon-share:before {
  content: '\f1e0';
}

.icon-at:before {
  content: '\f003';
}

.icon-facebook:before {
  content: '\ea90';
}

.icon-googleplus:before {
  content: '\ea91';
}

.icon-instagram:before {
  content: '\ea92';
}

.icon-linkedin:before {
  content: '\ea93';
}

.icon-stumbleupon:before {
  content: '\ea94';
}

.icon-pocket:before {
  content: '\ea95';
}

.icon-telegram:before {
  content: '\ea95';
}

.icon-twitter:before {
  content: '\ea96';
}

.icon-whatsapp:before {
  content: '\ea97';
}

.icon-vimeo:before {
  content: '\ea98';
}

.icon-youtube:before {
  content: '\ea99';
}

.icon-pinterest:before {
  content: '\ea86';
}

.icon-line:before {
  content: '\ea85';
}

.icon-pocket:before {
  content: '\ea87';
}

.icon-viber:before {
  content: '\ea88';
}

.icon-vk:before {
  content: '\ea89';
}

.icon-soundcloud:before {
  content: '\eb00';
}

.icon-spotify:before {
  content: '\eb01';
}

.icon-deezer:before {
  content: '\eb02';
}

.icon-itunes:before {
  content: '\eb03';
}

.icon-rss:before {
  content: '\ea83';
}

//Arrows 
.icon-arrow-down:before {
  content: '\ea43';
}

.icon-arrow-left:before {
  content: '\ea44';
}

.icon-arrow-right:before {
  content: '\ea45';
}

.icon-arrow-top:before {
  content: '\ea46';
}

.icon-quote-left {
  content: '\f004';
}

.icon-quote-right {
  content: '\f005';
}

.icon-circle:before {
  content: '\f005';
}

//controls 
.icon-play:before {
  content: '\f006';
}

.icon-stop:before {
  content: '\f007';
}

.icon-pause:before {
  content: '\f008';
}

.icon-rew:before {
  content: '\f014';
}

.icon-fwd:before {
  content: '\f015';
}

.icon-volume-mute:before {
  content: '\f004';
}

.icon-volume:before {
  content: '\f005';
}

.icon-volume-low:before {
  content: '\f006';
}

.icon-volume-mid:before {
  content: '\f007';
}

.icon-volume-high:before {
  content: '\f008';
}

.icon-fullscreen:before {
  content: '\f009';
}

.icon-fullscreen-enter:before {
  content: '\f009';
}

.icon-fullscreen-exit:before {
  content: '\f009';
}

.icon-captions:before {
  content: '\f009';
}

.icon-chapters:before {
  content: '\f009';
}

.icon-audio:before {
  content: '\f009';
}

.icon-audio-description:before {
  content: '\f009';
}

.icon-subtitles:before {
  content: '\f009';
}
