body {
    &.nav-down {
        header{
        top: 0;
        transition: .6s ease-in-out 0s;
        }
    }
    &.nav-up {
        header{
            top: -40px;
            transition: .6s ease-in-out 0s;
        }
        #content {
            padding-top: 3rem;
            transition: .6s ease-in-out 0s;
        }
    }
}

header {
    @extend .col;
    height: 100px;
    background-color: white;
    box-shadow: 0 3px .3rem rgba(0, 0, 0, .3);
    padding: 0;
    transition: all 250ms ease-in 0s;
    z-index: 1000;
    position: fixed;
    transition: .6s ease-in-out 0s;
    top: 0;
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    &.sticky {
        transition: all 250ms ease-in 0s;
    }
    .quick-info {
        height: 40px;
        padding: 0 1rem;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        max-width: 1440px;
        margin: 0 auto;
        .quick-data {
            @extend .row;
            .btn {
                display: inline-block;
                color: black;
                height: 40px;
                line-height: 20px;
                margin:0 5px 0 0;
                padding: .6rem;
                &:hover {
                    color:$link-hover-color;
                }
            }
            .btn-phonenumber {
                display: inline-table;
                margin:0 5px 0 0;
                position: relative;
                overflow: visible;
                &:before {
                  content: "·";
                  display: block;
                  position: absolute;
                  font-size: 2rem;
                  top: 0;
                  right: -5px;
                  line-height: 1.2;
                }
                &:hover {
                    color:$link-hover-color;
                }
            }
            address {
                font-size: 14px;
                padding: 0.55rem 0;
            }
        }
    }
    .header-content {
        background-color: $black;
        nav {
            padding: 0 0.5rem;
            min-height: 60px;
            height: auto;
            max-width: 1440px;
            margin: 0 auto;
        }
        @include media-breakpoint-down(sm) {
        }
        @include media-breakpoint-up(sm) {
        }
        .brand {
            float: left;
            line-height: 45px;
            height: 60px;
            .logo {
                max-width: 100%;
                @include media-breakpoint-down(sm) {
                    max-height: 34px;
                }
                @include media-breakpoint-up(sm) {
                    max-height: 30px;
                }
            }
            .site-description {
                display: none;
            }
        }
    }
    .content {
        max-width: 1440px;
    }

    .btn-togglemenu {
        @extend .navbar-toggler;
         span {
            background-color: white;
            display: block;
            height: 2px;
            margin: 5px auto;
            width: 20px;
        }
        &:hover {
            span {
                 background-color: darken(white, 30%);
            }
        }
    }
 
}
.title-header {
    background-color: $white;
    box-shadow: 0 3px .3rem rgba(0, 0, 0, .3);
    color: $black;
    height: 0;
    overflow: hidden;
    width: 100%;
    z-index: 990;
    transition: all 250ms ease-in 0s;
    &.affix {
        padding:.25rem .5rem;
        height: 40px;
        position: fixed;
        top: 60px;
    }
}
.nav-down+.bar-prodmenu.affix {
    padding-top:100px;
}

.btn-togglemenu {
    position: relative;
    @extend .btn-clear;
}