a {
  color: $link-color;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $link-hover-color;
    outline: none !important;
  }
}


button {
  color: $black;
  cursor: pointer;
  background-color: $link-color;
  font-weight: 300;
  line-height: 1em;
  &:hover,
  &:focus {
    text-decoration: none !important;
    color: $white;
    outline: none !important;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: $font-weight-bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  @include transition($btn-transition);
  border-radius:0;
  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .65;
    @include box-shadow(none);
  }

  &:active,
  &.active {
    background-image: none;
    //@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }
}

.btn-clear {
  @extend .btn;
  background-color: transparent !important;
  border: none !important;
}

.btn-more {
  @extend .btn-clear;
  background-color: transparent;
  padding: 0 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  position: relative;
  font-size: $small-font-size;
  >svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  svg:not(:root) {
      overflow: hidden;
  }
  .shape {
      stroke-dasharray: 500 0;
      stroke-dashoffset: -350;
      stroke-width: 2px;
      shape-rendering: geometricPrecision;
      fill: transparent;
      stroke: $link-color;
      -webkit-transition: stroke-dashoffset 500ms linear, stroke-dasharray 500ms linear;
      -moz-transition: stroke-dashoffset 500ms linear, stroke-dasharray 500ms linear;
      -ms-transition: stroke-dashoffset 500ms linear, stroke-dasharray 500ms linear;
      -o-transition: stroke-dashoffset 500ms linear, stroke-dasharray 500ms linear;
      transition: stroke-dashoffset 500ms linear, stroke-dasharray 500ms linear;
  }
  &:hover {
      color: $black;
      .shape {
          stroke-dasharray: 0 339;
          stroke-dashoffset: -500;
          -webkit-transition: stroke-dashoffset 500ms linear, stroke-dasharray 500ms linear;
          -moz-transition: stroke-dashoffset 500ms linear, stroke-dasharray 500ms linear;
          -ms-transition: stroke-dashoffset 500ms linear, stroke-dasharray 500ms linear;
          -o-transition: stroke-dashoffset 500ms linear, stroke-dasharray 500ms linear;
          transition: stroke-dashoffset 500ms linear, stroke-dasharray 500ms linear;
      }
  }
}

.btn-quad {
  @extend .btn;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
}

a[class^=' icon-'] {
  @extend .btn-quad;
  border-color: inherit;
  border-radius: 5em;
  position: relative;
  text-indent: 3rem;
  &::before {
    position: absolute;
    top: -4px;
    left: -10px;
    display: block;
    font-size: .8rem;
    transform: translateX(-50%);
  }
  &:hover {
    color: white;
  }
}

.btn-call {
  @extend .btn;
  background-color: $brand-2;
  border-radius: .1rem;
  color: $gray-300;
  display: table;
  font-size: 80%;
  font-weight: $font-weight-normal;
  letter-spacing: 1px;
  margin: 2rem auto 0;
  padding: 0.8rem 1rem;
  &:hover {
    color: $white;
    background-color: darken($brand-2, 25%);
  }
}

.btn-close {
  @extend .btn-quad;
  @extend .btn-clear;
  position: relative;
  span {
      background-color: $gray-200;
      height: 1px;
      display: block;
      position: absolute;
      left: 25px;
      top: 25px;
      transform: rotate(45deg) translateX(-10px) translateY(10px);
      width: 30px;
      &:nth-child(2){
          transform: rotate(-45deg) translateX(-10px) translateY(-10px);
      }
  }
  &:hover span {
      background-color: $white;
      transition: $transition-base;
  }
  
  @include media-breakpoint-down(xs) {
      right: 4px;
      transform: translateX(-50%);
  }
}

.btn-submit {
  @extend .btn;
  &:hover {
    background-color: darken($brand-1, 30%);
    color: lighten($brand-1, 70%);
  }
}
 
.btn-search {
  @extend .btn-clear;
  font-size: 1.2rem;
  color: $gray-200;
  text-align: center;
  padding: 1rem;
  @include media-breakpoint-down(sm) {
      max-width: 20%;
      float: right;
  }
  @include media-breakpoint-up(xs) {
      max-width: 100%;
      float: right;
  }
  &:hover {
      color: $white;
      transition: $transition-base;
  }
  @include media-breakpoint-down(xs) {
      float: left;
  }
}
.quick-data {
  .btn {
    @extend .btn-clear;
    font-size: 11px;
    overflow: hidden;
    position: relative;
    i {
      font-size: 1rem;
      padding: 0.5rem;
      float: left;
      color: red;
      display: none;
    }
    @include media-breakpoint-down(xs) {
      height: 2rem;
      padding: 0;
      float: right;
      small {
        display: none;
      }
      i {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        color: blue;
        display: table;
        float: left;
        }
    }
  }
  .btn-phonenumber {
    font-size: 13px;
  }
}

.btn-next {
  height: 50px;
  line-height: 3.5;
  margin: 1rem auto 0;
  text-align: center;
  width: 100px;
  display: block; //para centrar en middle content
}

.btn-contacto {
  @extend .btn-clear;
  @extend .btn-quad;
  background-color: $gray-800 !important;
  color: $white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
  height: 100px;
  width: 50px;
  letter-spacing: 1px;
  &:hover {
      color: lighten($brand-1, 20%)
  }
  .label-90 {
    font-size: 0.6rem;
    transform: rotate(-90deg) translateX(-15px);
    display: grid;
    margin: 0 auto;
  }
}
.btn-totop {
  @extend .btn;
  background-color: $gray-900;
  border: none;
  color: $white;
  display: none;
  overflow: hidden;
  height: 50px;
  clear: both;
  line-height: 1;
  text-align: center;
  width: 50px;
  float: right;
  position: relative;
  span {
    background-color: $white;
    height: 1px;
    position: absolute;
    right: calc(49% + .5rem);
    transform: rotate(-45deg) translateX(100%) translateY(0%);
    top: calc(50% + .5rem);
    width: .8rem;
    &:last-child {
      right: calc(-5% + .5rem);
      transform: rotate(45deg) translateX(-100%) translateY(0%);
    }
  }
  &:hover span{
      background-color: lighten($brand-1, 20%)
  }
}

