.btn-togglemenu {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.quick-data a {
  margin-left: 2px !important;
}

.quicklymenu {
  display: table;
  .nav-item {
      display: inline-table;
      position: relative;
      &:before {
        content: "·";
        display: block;
        position: absolute;
        font-size: 2rem;
        top: 0;
        right: 0;
        line-height: 1.2;
        font-weight: $font-weight-bold;
      }
      a {
        @extend .btn-clear;
        font-size: 10px;
        i {
          font-size: 1rem;
          padding: 0.5rem;
          float: left;
          color: red;
          display: none;
        }
        @include media-breakpoint-down(xs) {
          position: relative;
          height: 2rem;
          padding: .6rem .5rem .6rem .15rem  !important;
          float: right;
          small {
            display: none;
          }
          i {
            text-align: center;
            position: absolute;
            top: 0;
            right: 0;
            color: blue;
            display: table;
            float: left;
            }
        }
        &:hover {
          color: $brand-2;
        }
      }
  }
}
.mainmenu {
    ul {
        padding: 0;
        list-style: none;
        margin: 0;
        max-height: none;
        .nav-item {
          position: relative;
          a {
            @extend .nav-link;
            font-size: $small-font-size;
            color: $white;
            padding: .5rem 0 .5rem 1rem;
            transition: all 500ms ease 0s;
            .submenu-description {
              color: $gray-400;
              font-style: italic;
              line-height: 2;
              transition: all 500ms ease 0s;
                @include media-breakpoint-down(xs) {
                  display: none;
                }
                @include media-breakpoint-down(sm) {
                  padding-left: 5px; 
                }
                @include media-breakpoint-up(md) {
                  display: block;
                }
              }
            &:hover {
              color: $link-hover-color !important;
              .submenu-description {
                color: $link-hover-color !important;
              }
            }
          }
        }
        .nav-item.active {
            >a,
            >a:hover,
            >a>.submenu-description,
            >a:hover>.submenu-description {
              color: $link-hover-color;
            }
        }
        .nav-header {
          color: $gray-500;
          font-style: italic;
          font-size: $font-size;
          font-weight: 300;
          line-height: 1.2;
          overflow: hidden;
          padding: .5rem;                  
        }
        
    }
    &.collapse.show {
        padding-top: .5rem;
    }
  @include media-breakpoint-down(sm) {
    >ul {
        a {
            display: table;
            width: 100%;
            position: relative;
            transition: all 400ms ease 0s;
            padding: .75rem;
            position: relative;
            &:focus:after,
            &:hover:after {
                display: block;
            }
        }
        >li.nav-item {
            padding-top: 0;
            position: relative;
            > a {
                padding:0.5rem;
            }
        }
      >li {
          &.dropdown {
              > a {
              position: relative;
              &:after {
                border-width: 0.25rem .25rem 0;
                border-style: solid;
                border-color: #fff transparent transparent;
                bottom: 0;
                content: "";
                right: 18px;
                position: absolute;
                transition: transform .1s ease;
                transform: translateX(-50%) translateY(-380%);
                transform-origin: 50% 33%;
              }
            }
        }
        ul.dropdown-menu {
            padding: 0;
            .nav-header {
                display: table;
                padding: .5rem 0 0;
                width: 100%;
                @include media-breakpoint-down(sm) {
                  padding-left: 15px;
                }
            }
        }
        >ul.dropdown-menu {
            background-color: rgba(0, 0, 0, .2);
            box-shadow: inset 1px 3px 3px rgba(0, 0, 0, .2);
            height: 0;
            list-style: none;
            width: 100%;
            visibility: hidden;
            display: none;
            li.dropdown.parent {
                list-style: none;
                padding: 0;
                width: 100%;
          }
          li.nav-item {
              list-style: none;
              a {
              .btn-menu,
              .has-submenu {
                padding: 10px 10px 10px 40px !important;
                border-bottom: 1px solid $gray-600;
              }
              .submenu {
                .btn-menu {
                  border-bottom: 1px solid $gray-600;
                  padding-left: 60px !important;
                  &:after {
                    background-color: $gray-600;
                  }
                  &:hover {
                    background-color: $gray-600; //TODO
                  }
                }
                &:last-child .btn-menu::after {
                  background-color: transparent;
                }
              }
            }
          }
        }
        &.show>.dropdown-menu {
          display: table;
          visibility: visible;
          @include fadeIn;
          .dropdown-menu {
            position: static;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
      float: right;
      display: inline-block;
    ul {
     a {
        text-decoration: none;
        font-size: .85em;
        transition: color .1s ease, background-color .1s ease;
        padding: .5rem;
        display: block;
        font-weight: 400;
        color: $white;
        position: relative;
        &:before {
          background-color: $link-hover-color;
          transition: all 250ms ease-in 0s;
          content: "";
          bottom: 2px;
          height: 1px;
          left: 50%;
          right: auto;
          position: absolute;
          transform: translateX(-50%);
          width: 0%;
        }
        &:hover {
          color: $link-hover-color;
          &:before {
            background-color: $link-hover-color;
            transition: all 250ms ease-in 0s;
            width: 100%;
          }
        }
      }
      .active {
        position: relative;
        >a:before {
          background-color: $link-hover-color;
          transition: all 250ms ease-in 0s;
          width: 100%;
        }
        &.dropdown {
          >a:before {
            display: none;
          }
        }
      }
      .dropdown-menu .active>a:before {
        bottom: 3px;
      }
    }
    ul.navbar-nav {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      overflow-y: visible;
      position: absolute;
      right: 0;
      top: 0;
      >li.nav-item {
        position: relative;
        >a {
          line-height: 60px;
          height: 60px;
          padding: 0 1rem;
          &:focus:after,
          &:hover:after {
            display: block;
          }
        }
      }
      &>li.dropdown {
        a:before {
          display: none;
        }
        a:after {
          border-width: 0.25rem .25rem 0;
          border-style: solid;
          border-color: $white transparent transparent;
          bottom: 0;
          content: "";
          display: none;
          left: 50%;
          position: absolute;
          transition: transform .1s ease;
          transform: translateX(-50%) translateY(-200%);
          transform-origin: 50% 33%;
        }
        &.active {
            a:after {
                border-top-color: $link-hover-color;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color:transparent;
            }
        }
      }
      &>li {
        >.dropdown-menu {
          background-color: black;
          border-top: 1px solid $white;
          box-shadow: 1px 3px 3px rgba(0, 0, 0, .2); //display: flex;
          right: 0;
          list-style: none;
          max-height: 75vh;
          padding: .75rem .5rem .5rem;
          position: absolute;
          top: 100%;
          transition: none;
          visibility: hidden;
          display: none;
          li.dropdown.parent {
            margin: 0;
            width: 240px;
            flex-shrink: 0;
            position: relative;
            vertical-align: baseline;
            display: table-cell;
          }
          li.nav-item {
            min-width: 240px;
            padding: 0;
            a {
              .btn-menu,
              .has-submenu {
                padding: 10px 10px 10px 40px !important;
                border-bottom: 1px solid $gray-600;
              }
              .submenu {
                .btn-menu {
                  border-bottom: 1px solid $gray-600;
                  padding-left: 60px !important;
                  &:after {
                    background-color: $gray-600;
                  }
                  &:hover {
                    background-color: $gray-600; //TODO
                  }
                }
                &:last-child .btn-menu::after {
                  background-color: transparent;
                }
              }
            }
          }
        }
        &.open>.dropdown-menu,
        &:hover>.dropdown-menu {
          display: table;
          visibility: visible;
          @include fadeIn;
          .dropdown-menu {
            position: static;
          }
        }
      }
    }
  }
}

.sticky-wrapper {
  .menu-content {
      padding: 0 0.5rem;
      max-width: 1440px;
      margin: 0 auto;
  }
    .bar-prodmenu {
        background-color: $white;
        color: $black;
        height: 40px;
        overflow: hidden;
        padding: .25rem .5rem;
        transition: all 250ms ease-in 0s;
        width: 100%;
        z-index: 990!important;
    }
    &.is-sticky .bar-prodmenu {
        box-shadow: 0 3px 0.3rem rgba(0, 0, 0, 0.3);
        transition: all 250ms ease-in 0s;
    }
    .moduletable {
        float: right;
        .prodmenu {
            @extend .navbar-nav;
            @extend .mr-auto;
            @extend .navbar;
            @extend .navbar-expand-md;
            @extend .d-none;
            @extend .d-md-block;
            padding: 0;
            li.nav-item {
                display: inline-block;
                padding: .25rem .5rem;
                a {
                    font-size: .8rem;
                    color: $black;
                }
            }
        }
    }
}    