// stylelint-disable declaration-no-important, selector-list-comma-newline-after
//
// Headings
//
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-bottom: $headings-margin-bottom;
  small {
    font-style: italic;
    font-size: 70%;
    padding: 0.3rem 0;
  }
}

h1,
.h1 {
  font-size: $h1-font-size;
  padding-bottom: .5rem;
  small {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: .25rem;
    &:before,
    &:after {
      content: '';
      height: 1px;
      background-color: $black;
      width: 1rem;
      position: absolute;
      top: 50%;
      transform: translateX(.25rem) translateY(1px);
    }
    &:before {
      transform: translateX(-1.5rem);
    }
  }
}

h2,
.h2 {
  font-size: $h2-font-size;
  padding-bottom: .5rem;
  small {
    display: block;
    font-size: .7rem;
    font-weight: 300;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: .25rem;
    &:before,
    &:after {
      content: '';
      height: 1px;
      background-color: $black;
      width: 1rem;
      position: absolute;
      top: 50%;
      transform: translateX(.25rem) translateY(1px);
    }
    &:before {
      transform: translateX(-1.5rem);
    }
  }
}

h3,
.h3 {
  font-size: $h3-font-size;
  font-weight: $font-weight-normal;
  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

h4,
.h4 {
  font-size: $h4-font-size;
  font-weight: $font-weight-normal;
}

h5,
.h5 {
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
}

h6,
.h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-bold;
}

.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: .7;
  letter-spacing: -2px;
  padding-bottom: 1rem;
  small {
    display: block;
    font-weight: inherit;
    font-size: $small-font-size;
    line-height: 3rem;
    padding: 0;
    margin: 0;
  }
  @include media-breakpoint-down(lg) {
    font-size: 3.5rem;
    line-height: 1.25;
    letter-spacing: 0;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.5rem;
  }
}

.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
  @include media-breakpoint-down(lg) {
    font-size: 3rem;
    line-height: 1.25;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
    line-height: 1.5;
  }
}

.display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
  line-height: $display-line-height;
  @include media-breakpoint-down(lg) {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

.display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
  @include media-breakpoint-down(sm) {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

.title {
  padding: 1rem 0;
  display: block;
  clear: both;
  text-align: center;
}
.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  margin-top: .5rem;
  @include media-breakpoint-down(sm) {
    font-size: .8rem;
    line-height: 1.6;
  }
}
p {
  font-size: $font-size;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}
a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}
address {
  font-style: italic;
  font-size: small;
  padding-left: .5rem;
}
// Blockquotes
blockquote,
.blockquote {
  @extend .font-italic;
  display: table;
  margin: 0 auto 1rem;
  font-size: $blockquote-font-size;
  font-family: $headings-font-family;
  line-height: 1.15;
  color: $gray-600;
  font-weight: $font-weight-light;
  font-style: normal !important;
  letter-spacing: -1px;
  position:relative;
  padding-left: 0rem;
  padding-right: 0;
  padding-top: 5.5rem;
  padding-bottom: 4rem;/*
  &:before {
      content: "";
      background: url(../img/iconos/quotes.svg) no-repeat center/cover;
      display: block;
      height: 100px !important;
      left: -15px !important;
      top: -20px !important;
      position: absolute;
      transform: translateY(50%);
      width: 100px !important;
  }*/
  footer {
    font-size: small;
    padding-top: 2rem;
    text-align: right;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
  }
}

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;
  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

// Lists
.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}

.list-inline-item {
  display: inline-block;
  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

// Misc
//Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}



.introerror {
    background-image: url(/assets/img/404.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    .content {
        display: table-cell;
        padding-top: 3rem;
        vertical-align: top;
        width: 100%;
        color: $white;
        padding: 1rem;
        .label-error {
            background-color: $brand-1;
            color: $black;      
            clear: both;
            display: table;
            font-size: 1.1rem;
            margin-top: 2rem;
            padding: .5rem;
        }
    }
}
//animacion errores
.var-highlight{
  color: #C0AD60;
}
.string-highlight{
  color: rgba(253, 149, 90, 0.8);
}

#typewriter{
      font-size: 2em;
      margin: 0;
      font-family: "Courier New";

      &:after{
          content: "|";
          animation: blink 500ms linear infinite alternate;
      }
}

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}